h1 {
	color: #00ADAD;
}

.custom-btn-one {
	border-color: #00ADAD;
}

#home-sec .main-img {
	border: 5px solid #00ADAD;
}

#home-sec .main-img-2 {
	border: 5px solid #00ADAD;
}

.icon-round:hover {
	background-color: #00ADAD;
}

.icon-round-active {
	background-color: #00ADAD;
}

#skill-sec h4 {
	color: #00ADAD;
}

.board .tab-content i {
	color: #00ADAD;
}

#testimonial-main img {
	border: 3px solid #00ADAD;
}

.portfolio-sec-wrap .overlay {
	background-color: #00ADAD;
}

#footer-sec h3 {
	color: #00ADAD;
}

#footer-sec i {
	color: #00ADAD;
}

a.scrollup {
	background: #00ADAD;
}